header {
	width: 100%;
	background: #2F4F4F;
}

header h1 {
	margin: 0;
	width: 15em;
	padding: .5em;
}

header h1 a {
	color: white;
	text-decoration: none;

	font-family: Verdana, sans-serif;
	font-weight: normal;
	font-size: 80%;
}

@media (min-width: 720px) {
	header h1 a {
		font-size: 100%;
	}
}